<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No.1 와인추천서비스 - 와인 먹을래?</title>
    <link href="./riview.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <script type="text/javascript" src="js/script.js"></script>


    
    <style>
        html {
            font-family: rixstraight-pro, sans-serif;
            font-weight: 500;
            font-style: normal;
        }
    </style>

</head>
<body>
<!-- 내브바 -->
    <nav class="navbar">
        <div class="navBox1"><img src="./img/로고.jpg"> </div>
        <div class="navBox2"></div>
        <div class="navBox3">
            <div class="navItem"><a class="aTag"><img src="./img/search.png" width="30px" height="30px"></a></div>
            <div class="navItem"><a class="aTag"><img src="./img/cart.png" width="30px" height="30px"></a></div>
            <div class="navItem"><a class="aTag"><img src="./img/mypage.png" width="30px" height="30px"></a></div>
            <div class="navItem"><a class="aTag">로그인</a></div>
        </div>
    </nav>
    <div class="line"></div>

<!--바디-->
    <div class=structure>
        <div class=content>
            <img src="./img/winesampleA.png">
        </div>
        <div class=content>
            <div class=subcontent>
                <h3>캔달 잭슨 빈트너스 리저브 카베르네 소비뇽<br>KENDALL JACKSON VINTNER'SRESERVE CABERNET SAUVIGNON</h3>
            </div>
            <div class=subcontent>
                <div class=winetype>
                    <img src="./img/Red.jpg">
                    <span>Red</span>
                </div>
                <div class=winecountry>
                    <img src="./img/Western.png">
                    <span>미국</span>
                </div>
            </div>
            <div class=subcontent>
                <table>
                    <tr>
                        <th>생산지</th>
                        <td>캘리포니아</td>
                    </tr>
                    <tr>
                        <th>제조사</th>
                        <td>잭슨 패밀리 와인</td>
                    </tr>
                    <tr>
                        <th>알코올도수</th>
                        <td>13.5%</td>
                    </tr>
                    <tr>
                        <th>빈티지</th>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th>포도품종</th>
                        <td>까베르네 소비뇽92%,까베르네 프랑4%,쁘띠 베르도3%,메를로 1%</td>
                    </tr>
                </table>
            </div>
            <div class=subcontent2>
                <div class=winetaste>
                    <span>산도</span>
                    <img src="./img/Point3.png">
                </div>
                <div class=winetaste>
                    <span>당도</span>
                    <img src="./img/Point1.png">
                </div>
                <div class=winetaste>
                    <span>바디</span>
                    <img src="./img/Point4.png">
                </div>
            </div>
            <div class=subcontent2>
                <div class=review>
                    <span>평점</span>
                    <img src="./img/Score4.png">
                </div>
            </div>
            <div class=subcontent>
                여기는 리뷰작성~
            </div>
        </div>
    </div>
</body>
</html>