<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No.1 와인추천서비스 - 와인 먹을래?</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script type="text/javascript" src="../static/js/script.js"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <style>
        html {
            font-family: rixstraight-pro, sans-serif;
            font-weight: 500;
            font-style: normal;
        }
    </style>

</head>
<body>
    <nav class="navbar">
        <div class="navBox1"><img src="../static/img/로고.jpg"> </div>
        <div class="navBox2"></div>
        <div class="navBox3">
            <div class="navItem"><a class="aTag"><img src="../static/img/search.png" width="30px" height="30px"></a></div>
            <div class="navItem"><a class="aTag"><img src="../static/img/cart.png" width="30px" height="30px"></a></div>
            <div class="navItem"><a class="aTag"><img src="../static/img/mypage.png" width="30px" height="30px"></a></div>
            <div class="navItem"><a class="aTag">로그인</a></div>
        </div>
    </nav>
    
    <div class="line"></div>

    <div id="wrap">
        <div id="container">
            <div id="contents">
                <div class="sub_wrap">
                    <div class="path2">
                        <a>HOME/로그인</a>
                    </div>
                    <div class="titleArea">
                        <h2>로그인</h2>
                    </div>


                    <div class="xans-element- xans-member xans-member-login ec-base-boxtypeThin">
                        <div class="login">
                            <h3 class="boxTitle">회원 로그인</h3>
                            <fieldset>
                                <form id="login-form">
                                    <input type="text" placeholder="Email or phonenumber"/>
                                    <input type="password" placeholder="Password"/>
                                    <input type="submit" value="Log in"/>
                                </form>
                                
                                <ul>
                                    <li>
                                        <a>아이디찾기</a>
                                    </li>
                                    <li>
                                        <a>비밀번호찾기</a>
                                    </li>
                                    <li>
                                        <a>회원가입</a>
                                    </li>
                                </ul>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    

        

      

      
</body>
</html>