{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>No.1 와인추천서비스 - 와인 먹을래?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet'> {% endcomment %}
    {% comment %} <link href="{% static 'css/font-awesome.min.css' %}" rel='stylesheet'>
    <link href="{% static 'css/prettyPhoto.css' %}" rel='stylesheet'>
    <link href="{% static 'css/price-range.css' %}" rel='stylesheet'>
    <link href="{% static 'css/animate.css' %}" rel='stylesheet'>{% endcomment %}
    <link href="{% static 'css/main.css' %}" rel='stylesheet'>
    {% comment %} <link href="{% static 'css/responsive.css' %}" rel='stylesheet'> {% endcomment %}
  
  </head>

  <body>
    <nav class="navbar" style="margin-top: 0%">
      <div class="navBox1"><a href={% url 'main' %}><img  src="{% static 'img/logo.jpg' %}"/></a></div>
      <div class="navBox2"></div>
      <div class="navBox3">
        <div class="navItem">
          <a href="class" ="aTag"><img src="{% static 'img/search.png' %}" width="30px" height="30px"/></a>
        </div>
        <style>
            #button:hover{
            border: 0px solid black;
            }
        </style>
        {% if user.is_authenticated %}
          <div class="navItem">
            <img src="{% static 'img/mypage.png' %}" width="30px" height="30px"/>
            <a href="{% url 'mypage' %}" class="aTag">{{user.username}}님 환영합니다.</a>
          </div>
          <div class="navItem" id = 'button'>
            <a href="{% url 'logout' %}" class="btn btn-outline-primary aTag">
              로그아웃
            </a>
          </div>
        {% else %}
          <div class="navItem" id = 'button'>
            <a href="{% url 'login' %}" class="btn btn-outline-primary aTag">
              로그인
            </a>
          </div>
        {% endif %}
      </div>
    </nav>

    <div class="line"></div>
    {% block content %}{% endblock content %}
    {% comment %} <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/price-range.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>

</html>
