<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    {% csrf_token %}
    hi
    {{ wine }}
    {{ wine.name }}
    {{ wine.kind }}
    {{ wine.country }}
    {{ wine.price }}
    {{ wine.grape_type1 }}
    {{ wine.grape_type2 }}
    {{ wine.explain }}
    {{ wine.taste1 }}
    {{ wine.taste2 }}
    {{ wine.alchol }}
    {{ wine.dry }}
    {{ wine.body }}
    {{ wine.tannin }}
    {{ food }}
    <br>
    {{ wines.0.name }}
  </body>

</html>