{% extends "base.html" %}
{% load static %}
{% block content %}
  <link href="{% static 'css/r_style.css' %}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="js/script.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <div class="search">
    <div>
      <h3>음식별 추천</h3>
    </div>
    <div class="foodsearch">
      <input type="text" placeholder="음식 입력">
      <button>검색</button>
    </div>
  </div>
  <!-- 음식종류 -->
  <div class="category">
    <div class="foodcategory">
      <form>
        <img src="./img/Korea.png" width="30px" height="30px">
        한식 (Korean)
      </form>
    </div>
    <div class="foodcategory">
      <form>
        <img src="./img/Western.png" width="30px" height="30px">
        양식 (Western)
      </form>
    </div>
    <div class="foodcategory">
      <form>
        <img src="./img/China.png" width="30px" height="30px">
        중식 (Chinese)
      </form>
    </div>
    <div class="foodcategory">
      <form>
        <img src="./img/Japan.png" width="30px" height="30px">
        일식 (Japanese)
      </form>
    </div>
    <div class="foodcategory">
      <form>
        <img src="./img/Desert.jpg" width="30px" height="30px">
        디저트 (Desert)
      </form>
    </div>
  </div>
  <!-- 한식 순위 종류 -->
  <div class="menu">

    <div class="submenu">
      <div class="menutype">
        <h4>소고기등심</h4>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <div><img src="./img/Beef.jpg"></div>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <h3>와인추천 Best 3</h3>
                <ol class="winetype">
                  <li>
                    <div class="winelink">
                      <a href="와인설명">와인A</a>
                      <img src="./img/Beef.jpg">
                    </div>
                  </li>
                  <li>
                    <div class="winelink">
                      <a href="와인설명">와인B</a>
                    </div>
                  </li>
                  <li>
                    <div class="winelink">
                      <a href="와인설명">와인C</a>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="submenu">
      <div class="menutype">
        <h4>족발</h4>
        <div><img src="./img/Jokbal.jpg"></div>
      </div>
      <div class="menutype">
        <h3>와인추천 Best 3</h3>
        <ol class="winetype">
          <li>
            <div>
              <a href="와인설명">와인A</a>
            </div>
          </li>
          <li>
            <div>
              <a href="와인설명">와인B</a>
            </div>
          </li>
          <li>
            <div>
              <a href="와인설명">와인C</a>
            </div>
          </li>
        </ol>
      </div>
    </div>

    <div class="submenu">
      <div class="menutype">
        <h4>떡볶이</h4>
        <div><img src="./img/Tteokbokki.jpg"></div>
      </div>
      <div class="menutype">
        <h3>와인추천 Best 3</h3>
        <ol class="winetype">
          <li>
            <div>
              <a href="와인설명">와인A</a>
            </div>
          </li>
          <li>
            <div>
              <a href="와인설명">와인B</a>
            </div>
          </li>
          <li>
            <div>
              <a href="와인설명">와인C</a>
            </div>
          </li>
        </ol>
      </div>
    </div>

    <div class="submenu">
      <div class="menutype">
        <h4>해물찜</h4>
        <div><img src="./img/Haemuljjim.jpg"></div>
      </div>
      <div class="menutype">
        <h3>와인추천 Best 3</h3>
        <ol class="winetype">
          <li>
            <div>
              <a href="와인설명">와인A</a>
            </div>
          </li>
          <li>
            <div>
              <a href="와인설명">와인B</a>
            </div>
          </li>
          <li>
            <div>
              <a href="와인설명">와인C</a>
            </div>
          </li>
        </ol>
      </div>
    </div>

    <div class="submenu">
      <div class="menutype">
        <h4>전</h4>
        <div><img src="./img/Jeon.jpg"></div>
      </div>
      <div class="menutype">
        <h3>와인추천 Best 3</h3>
        <ol class="winetype">
          <li>
            <div>
              <a href="와인설명">와인A</a>
            </div>
          </li>
          <li>
            <div>
              <a href="와인설명">와인B</a>
            </div>
          </li>
          <li>
            <div>
              <a href="와인설명">와인C</a>
            </div>
          </li>
        </ol>
      </div>
    </div>

    <div class="submenu">
      <div class="menutype">
        <h4>막창</h4>
        <div><img src="./img/Makchang.jpg"></div>
      </div>
      <div class="menutype">
        <h3>와인추천 Best 3</h3>
        <ol class="winetype">
          <li>
            <div>
              <a href="와인설명">와인A</a>
            </div>
          </li>
          <li>
            <div>
              <a href="와인설명">와인B</a>
            </div>
          </li>
          <li>
            <div>
              <a href="와인설명">와인C</a>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- 양식 순위 종류 -->
  <!-- 중식 순위 종류 -->
  <!-- 일식 순위 종류 -->
  <!-- 디저트 순위 종류 -->
  <!-- 기타음식 순위 종류 -->
{% endblock content %}