{% extends "base.html" %}
{% load static %}
{% block content %}
  <link href="{% static 'css/riview.css' %}" rel="stylesheet" type="text/css">
  <div class="structure">
    <div class="content">
      <img src="{{pic}}">
    </div>
    <div class="content">
      <div class="subcontent">
        <h3>{{wine.name}}</h3>
      </div>
      <div class=" subcontent">
        <div>
          {{wine.explain}}
        </div>
      </div>
      <div class="subcontent">
        <table>
          <tr>
            <th>와인종류</th>
            <td>{{wine.kind}}</td>
          </tr>
          <tr>
            <th>생산지</th>
            <td>{{wine.country}}</td>
          </tr>
          <tr>
            <th>알코올도수</th>
            <td>{{wine.alchol}}</td>
          </tr>
          <tr>
            <th>포도품종</th>
            {% if wine.grape_type2 == "" %}
              <td>{{wine.grape_type1}}</td>
            {% else %}
              <td>{{wine.grape_type1}},{{wine.grape_type2}}</td>
            {% endif %}
          </tr>
        </table>
      </div>
      <div class="subcontent2" style="padding-left=3px">
        <div class="winetaste">
          <span style="font-weight:bold">Dry</span>
          <img src="{{dry}}">
        </div>
        <div class="winetaste">
          <span style="margin-left:10px; font-weight:bold">Body</span>
          <img src="{{body}}">
        </div>
        <div class="winetaste">
          <span style="margin-left:10px; font-weight:bold">Tannin</span>
          <img src="{{tannin}}">
        </div>
      </div>
      <div class="subcontent2">
        <div class="review">
          <span style="font-weight:bold">평점</span>
          <span class='star-rating'>
            <span style="width:{{star_percent}}"></span>
          </span>
        </div>
      </div>
      <h1>리뷰</h1>
      {% for review in reviews %}
        <div class="subcontent review">
          <div class="user">
            {{review}}
          </div>
          <div class="star">
            {{review.star}}
          </div>
          <div class="body">
            {{review.body}}
          </div>
        </div>
        <br/>
      {% endfor %}
    </div>
  </div>
{% endblock content %}