{% extends "base.html" %}
{% load static %}
{% block content %}
    <link href="{% static 'css/riview.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script type="text/javascript" src="js/script.js"></script>

<!--바디-->
    <div class=structure>
        <div class=content>
            <img src="{% static 'img/rimg/winesampleA.png' %}">
        </div>
        <div class=content>
            <div class=subcontent>
                <h3>{{wine.name}}</h3>
            </div>
            <div class=subcontent>
                <div>
                    {{wine.explain}}
                </div>
            </div>
            <style>
                td{
                    padding-left : 10px;
                }
            </style>
            <div class=subcontent>
                <table>
                    <tr>
                        <th>와인종류</th>
                        <td>{{wine.kind}}</td>
                    </tr>
                    <tr>
                        <th>생산지</th>
                        <td>{{wine.country}}</td>
                    </tr>
                    <tr>
                        <th style="invisible="> 알코올도수</th>
                        <td>{{wine.alchol}}</td>
                    </tr>
                    <tr>
                        <th>포도품종</th>
                        <td>{{wine.grape_type1}}, {{wine.grape_type2}}</td>
                    </tr>
                </table>
            </div>
            <div class=subcontent2>
                <div class=winetaste>
                    <span>산도</span>
                    <img src="{% static 'img/rimg/Point3.png' %}">
                </div>
                <div class=winetaste>
                    <span>당도</span>
                    <img src="{% static 'img/rimg/Point1.png' %}">
                </div>
                <div class=winetaste>
                    <span>바디</span>
                    <img src="{% static 'img/rimg/Point4.png' %}">
                </div>
            </div>
            <div class=subcontent2>
                <div class=review>
                    <span>평점</span>
                    <img src="{% static 'img/rimg/Score4.png' %}">
                </div>
            </div>
            <div class=subcontent>
                여기는 리뷰작성~
            </div>
        </div>
    </div>
{% endblock content %}