{% extends "base.html" %}
{% load static %}
{% block content %}
<div style="margin: 5%">
  <div class="card" style="margin-bottom:3%">
    <div class="card-header">
      와인나라
    </div>
    <div class="card-body">
      <h5 class="card-title">와인의 모든 것이 있는 곳 와인나라입니다!</h5>
      <a href="https://www.winenara.com/main/html.php?htmid=main/index.html" class="btn btn-primary">사이트 바로가기</a>
    </div>
  </div>
  <div class="card" style="margin-bottom:3%">
    <div class="card-header">
      와인 365
    </div>
    <div class="card-body">
      <h5 class="card-title">365일 즐거운 와인쇼핑~ 와인샵 와인365</h5>
      <a href="http://wineoutlet365.com/" class="btn btn-primary">사이트 바로가기</a>
    </div>
  </div>
  <div class="card" style="margin-bottom:3%">
    <div class="card-header">
      SEOUL WINE
    </div>
    <div class="card-body">
      <h5 class="card-title">SEOUL WINE 서울 와인</h5>
      <a href="https://seoulwine.net/" class="btn btn-primary">사이트 바로가기</a>
    </div>
  </div>
</div>


{% endblock content%}