html {
  font-family: rixstraight-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 2%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
.navBox1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 30%;
}
.navBox2 {
  display: flex;
  width: 40%;
  justify-content: center;
}
.navBox3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 30%;
  float: right;
}
.aTag {
  text-decoration: none;
  color: black;
}
.navItem {
  padding: 3%;
}
.navItem:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin: 8px 0px;
}
.line::before {
  content: "";
  flex-grow: 1;
  margin: 0px 0px 0px;
  margin-left: 5%;
  background: rgb(0, 0, 0, 0.5);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
.line::after {
  content: "";
  flex-grow: 1;
  margin: 0px 0px;
  margin-right: 5%;
  background: rgb(0, 0, 0, 0.5);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
/* 폰트 */
/* h1,h2,h3,h4,h5,h6,p,form,ol,input,a,span,th,td {
    font-family:'Cute Font', cursive;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
} */
.structure {
  display: flex;
  align-items: center;
  margin: 100px;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content > img {
  height: 100%;
  width: 300px;
}
.subcontent {
  border-bottom: solid 1px lightgray;
  display: flex;
  align-items: center;
  padding: 10px;
}

.subcontent.review {
  text-align: center;
}

.subcontent2 {
  border-bottom: solid 1px lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.winetype,
.winecountry {
  display: flex;
  align-items: center;
}
.winetype {
  margin-right: 20px;
}
.winetype > img {
  height: 20px;
  width: 20px;
  border-radius: 3px;
}
.winecountry > img {
  height: 30px;
  width: 30px;
  border-radius: 3px;
}
td,
th {
  font-size: 16px;
}

td {
  padding-left: 10px;
}
.winetaste {
  display: flex;
  align-items: center;
}
.winetaste > span {
  font-size: 14px;
  margin-right: 10px;
}
.winetaste > img {
  /* width: 80px; */
  height: 40px;
}
.review {
  display: flex;
  align-items: center;
}
.review > img {
  width: 200px;
  height: 60px;
}
.review > span {
  margin-right: 30px;
}

.star-rating {
  width: 205px;
}
.star-rating,
.star-rating span {
  display: inline-block;
  height: 39px;
  overflow: hidden;
  background: url(../img/score/star.png) no-repeat;
}
.star-rating span {
  background-position: left bottom;
  line-height: 0;
  vertical-align: top;
}

.review-form {
  /* border: 1px solid black; */
  margin-top: 10px;
  padding: 10px;
}
